{% extends "main/master.html" %}

{% block title %}
    Add spending
{% endblock %}

{% block content %}
 <div class="shadow m-5 p-2 bg-dark text-white rounded-5">
    <div class="text-center"><h1><span class="badge text-bg-light">Add Spending Form</span><br></h1></div>

     {% if submitted %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong><i class="fa-solid fa-triangle-exclamation"></i></strong> Add spending successfully
        </div>
     {% else %}


<!--    {% if form.errors %}-->
<!--      &lt;!&ndash; {% for error in form.errors %} &ndash;&gt;-->
<!--        <div class="alert alert-warning alert-dismissible">-->
<!--          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>-->
<!--          <strong><i class="fa-solid fa-triangle-exclamation"></i></strong> Error-->
<!--        </div>    -->
<!--      &lt;!&ndash; {% endfor %} &ndash;&gt;-->
<!--    {% endif %}-->

         <form action="" method="POST" class="rounded-5 m-5">
              {% csrf_token %}
              <label>Category: </label>
              <select class="form-select mb-2" name="category">
                  {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.description }}</option>
                  {% endfor %}
              </select>
              <div class="mb-2">
                  <label>Amount: </label>
                  <input type="number" class="form-control" name="amount" placeholder="Amount">
              </div>
              <select class="form-select text-secondary mb-2" name="user" required id="id_user">
                    <option value="{{user.id}}" selected>User :{{user.username}}</option>
              </select>
              <button class="btn btn-outline-success" type="submit" style="width: 100%;">Add</button>
         </form>

    {% endif %}
 </div>
{% endblock %}