{% extends "main/master.html" %}

{% block title %}
    spendings
{% endblock %}

{% block content %}
<p class="text-center fw-bold text-light bg-secondary">Personal spendings {{myuser}}!</p>
<div  class="d-flex p-2">
    <div class="flex-grow-1 p-3">
        <table class="table table-secondary table-striped table-bordered border-white text-center">
            <thead>
                <tr>
                    <th class="rounded-end rounded-5">Date</th>
                    <th>Category</th>
                    <th>Amount</th>
                    <th class="rounded-start rounded-5">Command</th>
                </tr>
            </thead>
            <tbody>
                {% for spending in myuserspendings %}
                    <tr>
                        <td class="rounded-end rounded-5">{{spending.date.day}}.{{spending.date.month}}.{{spending.date.year}}</td>
                        {% for category in  allcategories %}
                            {% if category.id == spending.category_id %}
                                <td>{{category.description}}</td>
                            {% endif %}
                        {% endfor %}
                        <td>{{spending.amount}}</td>
                        <td class="rounded-start rounded-5">
                            <a href="{% url 'edit_spending' spending.id %}"><button type="button" class="btn btn-warning btn-sm">Edit</button></a>
                            <a href="{% url 'delete_spending' spending.id %}"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <p class="text-center">Category</p>
        <select class="form-select mb-2">
            {% for category in  allcategories %}
                <option>{{category.description}}</option>
            {% endfor %}
        </select>
        <a href="{% url 'add_spending' %}"><button class="btn btn-outline-success" type="button" style="width: 100%;">Add</button>
    </div>
</div>



{% endblock %}  