{% extends "master.html" %}

{% block title %}
    spendings {{ myuser.login }}
{% endblock %}

{% block content %}
<p class="text-center fw-bold text-light bg-secondary">Personal spendings {{myuser.name}}!</p>
<div class="row">
    <div class="col-md-2 m-3">
        <p class="text-center">Category</p>
        <select class="form-select">
            {% for category in  allcategories %}
                <option>{{category.description}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-2">
        <!-- <a href=""><li><button class="btn btn-outline-dark"><i class="bi bi-plus-square bg-dark"></i>Filter</button></li></a> -->
    </div>

    
</div>
<div class="container-fluid">          
    <table class="table table-secondary table-striped table-bordered border-white">
        <thead>
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>Category</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for spending in myuserspendings %}
                <tr>
                    <td>{{spending.id}}</td>
                    <td>{{spending.date}}</td>
                    {% for category in  allcategories %}
                        {% if category.id == spending.category_id %}
                            <td>{{category.description}}</td>
                        {% endif %}
                    {% endfor %}
                    <td>{{spending.amount}}</td>
                </tr>       
            {% endfor %}
        </tbody>
    </table>
  </div>
  
{% endblock %}  